<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrefour - Vencimentos</title>
    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <header>
        <figure>
            <img src="/img/logo.png" alt="Logotipo Carrefour">
        </figure>

        <nav>
            <a href="#">Registre-se aqui</a>
            <a href="#">Login</a>
            <a href="#">Início</a>
            <a href="#">Logout</a>
        </nav>
    </header>
    <div class="container">
        {{{body}}}
    </div>


</body>

</html>