<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrefour - Vencimentos</title>
    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <header>
        <figure>
            <img src="/img/logo.png" alt="Logotipo Carrefour">
        </figure>

        <nav>
            <a href="/abrirRegistro">Registre-se aqui</a>
            <a href="/abrirLogin">Login</a>
            <a href="/">Início</a>
            <a href="#">Logout</a>
        </nav>
    </header>
    <div class="container">
        {{{body}}}
    </div>
    <footer>
        <h2>Mapa do site:</h2>
        <div class="mapa">
            <ul>
                <li><a href="/abrirRegistro">Novo usuário</a></li>
                <li><a href="/abrirLogin">Login</a></li>
            </ul>


            <ul>
                <li><a href="#">Meus vencimentos</a></li>
                <li><a href="#">Novo vencimento</a></li>
                <li><a href="#">Filtro por fornecedor</a></li>
                <li><a href="#">Filtro por produto</a></li>
                <li><a href="#">Filtro por data</a></li>

            </ul>
        </div>
        <p>Criado por: Sandro da Paixão Coelho </p>
    </footer>


</body>

</html>