* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* header */

header {
    background-color: #a02424;
    height: 60px;
    display: flex;
    justify-content: space-between;
    line-height: 60px;
    padding-right: 10px;
}

header nav {
    display: flex;
    gap: 20px;


}

header a {
    color: #eee;
    text-decoration: none;
    text-transform: uppercase;

}

header a:hover {
    text-decoration: underline;
}

figure img {
    width: 60px;
    height: 60px;
    border: 1px solid #a02424;


}

.abas {
    display: flex;
    gap: 20px;
}

.abas a {

    position: relative;
    top: 10px;
    border-radius: 10px;

    padding-left: 5px;
    padding-right: 5px;
    z-index: 1;
}

.abas a:hover {
    text-decoration: none;
    background-color: #761212;
}

.abas2 {
    display: flex;
    gap: 20px;
}

/* container */

.container {
    min-height: 680px;

}

/* footer */

footer {
    background-color: #000099;
    color: #eee;
    padding: 10px;


}

footer a {

    color: #eee;
    text-decoration: none;
}


footer a:hover {
    text-decoration: underline;
}

footer ul {
    list-style: none;
}

footer .mapa {
    display: flex;
    justify-content: space-around;
}

footer h2 {
    text-align: center;
    margin: 10px;
}

footer p {
    text-align: center;
}

/* registro de usuario */
.container-registro {
    display: flex;
    height: 600px;
    align-items: center;
}



.registro2 {
    width: 50%;
    height: 370px;
    border: 1px solid #000099;
    border-radius: 10px;
    margin: 0 auto;
    padding: 10px
}

.registro2 h2 {
    color: #000099;
    font-weight: bold;
    text-align: center;
    margin: 10px;
}

.form-control {
    display: flex;
    flex-direction: column;
}

.form-control label {
    text-align: center;
    color: #000099;
    font-weight: bold;
    margin: 5px;
}

.form-control input {
    width: 60%;
    margin: 0 auto;
    border: 1px solid #000099;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}

.actions input {
    background-color: #000099;
    color: #eee;
    border-radius: 10px;
    padding: 10px;
    opacity: 1;
    cursor: pointer;
}

.actions {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    align-items: center;

}

.actions input:hover {
    opacity: .8;
}

/* login */

.container-login {
    display: flex;
    height: 600px;
    align-items: center;
}

.login2 {
    width: 50%;
    height: 250px;
    border: 1px solid #000099;
    border-radius: 10px;
    margin: 0 auto;
    padding: 10px
}

.login2 h2 {
    color: #000099;
    font-weight: bold;
    text-align: center;
    margin: 10px;
}

.avisos {
    color: #000099;
}

/* cadastrar vencimentos */
.container-novoVencimento {
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vencimentos2 {
    width: 50%;
    height: 500px;
    border: 1px solid #000099;
    border-radius: 10px;
    padding: 10px;

}

.vencimentos2 h2 {
    color: #000099;
    font-weight: bold;
    margin: 10px;
    text-align: center;
    margin-bottom: 30px;
}

/* meus vencimentos */
.container-meusVencimentos {
    min-height: 550px;
    display: flex;
    justify-content: center;

}

.meusVencimentos2 {
    width: 50%;
    border: 1px solid #000099;
    border-radius: 10px;
    padding: 10px;

}

.meusVencimentos2 h2 {
    color: #000099;
    font-weight: bold;
    margin: 10px;
    padding-bottom: 20px;
    text-align: center;
    border-bottom: 1px solid #ccc;

}

.vencimento {

    width: 80%;
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    margin: 0 auto;
    font-weight: bold;
    color: #000099;

}

.vencimento p {
    display: flex;
    gap: 20px;
    justify-content: space-between;


}

.vencimento span {
    line-height: 50px;
}

.vencimento a {

    border-radius: 10px;
    background-color: #000099;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    line-height: 30px;
}