<div class="container-login">
    <h2>Faça seu login:</h2>
    <form action="#">
        <div class="form-control">
            <label for="email2">E-mail:</label>
            <input type="email" name="email2" placeholder="Digite seu e-mail">
        </div>
        <div class="form-control">
            <label for="senha2">Senha:</label>
            <input type="password" name="senha2" placeholder="Digite aqui a sua senha">
        </div>
        <div class="actions">
            <input type="submit" value="Entrar">
        </div>
    </form>
</div>