<div class="container-registro">
    <h2>Registre-se aqui</h2>
    <form action="#">
        <div class="form-control">
            <label for="nome">Nome:</label>
            <input type="text" name="nome" placeholder="Digite seu nome">
        </div>
        <div class="form-control">
            <label for="email">E-mail:</label>
            <input type="email" name="email" placeholder="Digite seu e-mail">
        </div>
        <div class="form-control">
            <label for="senha">Senha:</label>
            <input type="password" name="senha" placeholder="Digite a sua senha">
        </div>
        <div class="form-control">
            <label for="senha2">confirme a senha:</label>
            <input type="password" name="senha2" placeholder="Confirme sua senha">
        </div>
        <div class="actions">
            <input type="reset" value="Limpar">
            <input type="submit" value="Registrar">
        </div>
    </form>
</div>