<div class="container-filtroProduto">
    <div class="filtroProduto2">
        <h2>Faça sua busca por produto:</h2>
        <form action="/vencimentos/buscaProduto" method="post">
            <div class="form-control">
                <label for="buscaProduto">Produto:</label>
                <input type="text" name="buscaProduto" placeholder="Digite o produto a ser buscato">
            </div>
            <div class="actions">
                <input type="submit" value="Buscar">
            </div>
        </form>
    </div>
</div>