<div class="container-filtroFornecedor">
    <div class="filtroFornecedor2">
        <h2>Faça sua busca por fornecedor:</h2>
        <form action="/vencimentos/buscaFornecedor" method="post">
            <div class="form-control">
                <label for="buscaFornecedor">Fornecedor:</label>
                <input type="text" name="buscaFornecedor" placeholder="Digite o fornecedor a ser buscato">
            </div>
            <div class="actions">
                <input type="submit" value="Buscar">
            </div>
        </form>
       

    </div>
</div>