<div class="container-filtroData">
    <div class="filtroData2">
        <h2>Faça sua busca por data:</h2>
        <form action="/vencimentos/buscaData" method="post">
            <div class="form-control">
                <label for="buscaData">Data de vencimento:</label>
                <input type="text" name="buscaData" placeholder="Digite a data a ser buscato">
            </div>
            <div class="actions">
                <input type="submit" value="Buscar">
            </div>
        </form>
    </div>
</div>