<div class="container-meusVencimentos">

    <div class="meusVencimentos2">

        <h2>Meus vencimentos:</h2>
        {{#each meusVencimentos}}
        <div class="vencimento">
            <p><span>{{this.produto}} - {{this.fornecedor}} - {{this.vencimento}}</span> <a
                    href="/vencimentos/abrirVencimento/{{this.id}}">vizualizar</a></p>
        </div>
        {{/each}}
        {{!-- Gerar pdf --}}
        <div class="actions">
            <form action="/vencimentos/PdfTodos" method="GET">
                <input type="submit" value="Gerar PDF completo">
            </form>
        </div>

    </div>


</div>